@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cf:before,
.cf:after {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
body {
	background: #cfd8dc;
	color: #37474f;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}
.support {
	font-weight: bold;
	padding: 2em 0 0 0;
	font-size: 1.4em;
	color: #ee2563;
	display: none;
}
a {
	color: #7986cb;
	text-decoration: none;
	outline: none;
}
a:hover,
a:focus {
	color: #3f51b5;
}
.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}
.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.content {
	padding: 2em 1em 5em;
	z-index: 1;
	max-width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0 0 2em;
}
.content p {
	margin: 1em 0;
	padding: 0 0 2em;
	font-size: 0.85em;
}
.box {
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

/* Header */
.codrops-header {
	padding: 3em 190px 4em;
	letter-spacing: -1px;
}
.codrops-header h1 {
	font-weight: 200;
	font-size: 4em;
	line-height: 1;
	margin-bottom: 0;
}
.codrops-header h1 span {
	display: block;
	font-size: 40%;
	letter-spacing: 0;
	padding: 0.5em 0 1em 0;
	color: #A8B3B8;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.25em;
	text-align: center;
}
.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: #BFCACF;
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}
.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}
.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon span {
	display: none;
}
.codrops-icon--drop:before {
	content: "\e001";
}
.codrops-icon--prev:before {
	content: "\e004";
}

/* Common styles */

.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
}

.pricing__item {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px;
}

.pricing__feature-list {
	text-align: left;
}

.pricing__action {
	color: inherit;
	border: none;
	background: none;
}

.pricing__action:focus {
	outline: none;
}

/* Individual styles */

/* Jinpa */
.pricing--jinpa .pricing__item {
	font-family: 'Roboto Condensed';
	margin: 1.5em 0;
	padding: 2em;
	cursor: default;
	color: #308fd9;
	border: 1px solid #308fd9;
	-webkit-transition: background-color 0.6s, color 0.3s;
	transition: background-color 0.6s, color 0.3s;
}

.pricing--jinpa .pricing__item:nth-child(2) {
	border-right: none;
	border-left: none;
}

.pricing--jinpa .pricing__item:hover {
	color: #444;
	background: #CBFFC8;
}

.pricing--jinpa .pricing__title {
	font-size: 2em;
	width: 100%;
	margin: 0;
	padding: 0;
}

.pricing--jinpa .pricing__price {
	font-size: 1.45em;
	font-weight: bold;
	line-height: 95px;
	width: 100px;
	height: 100px;
	margin: 1.15em auto 1em;
	border-radius: 50%;
	background: #ea716e;
	-webkit-transition: color 0.3s, background 0.3s;
	transition: color 0.3s, background 0.3s;
}

.pricing--jinpa .pricing__item:first-child .pricing__price {
	background: #eac36e;
}

.pricing--jinpa .pricing__item:nth-child(2) .pricing__price {
	background: #eaa36e;
}

.pricing--jinpa .pricing__item:hover .pricing__price {
	color: #fff;
	background: #82C57E;
}

.pricing--jinpa .pricing__sentence {
	font-weight: bold;
}

.pricing--jinpa .pricing__feature-list {
	margin: 0;
	padding: 1em 1em 2em 1em;
	list-style: none;
	text-align: center;
}

.pricing--jinpa .pricing__action {
	font-weight: bold;
	margin-top: auto;
	padding: 0.75em 2em;
	opacity: 0;
	color: #fff;
	background: #82C57E;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
}

.pricing--jinpa .pricing__item:hover .pricing__action {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.pricing--jinpa .pricing__action:hover,
.pricing--jinpa .pricing__action:focus {
	background: #6EA76B;
}

@media screen and (max-width: 60em) {
	.pricing--jinpa .pricing__item {
		max-width: none;
		width: 90%;
		flex: none;
	}
	.pricing--jinpa .pricing__item:nth-child(2) {
		border: 1px solid #fff;
	}
}

/* Related demos */

.content--related {
	text-align: center;
	font-weight: 600;
}
.media-item {
	display: inline-block;
	padding: 1em;
	margin: 1em 0 0 0;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.media-item__img {
	opacity: 0.8;
	max-width: 100%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}
.media-item__title {
	font-size: 0.85em;
	margin: 0;
	padding: 0.5em;
}
@media screen and (max-width:50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}
@media screen and (max-width:40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}
